

.signup-container{
    width: 45%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 234, 234);
    box-shadow: 1px 1px 5px rgb(128, 127, 127);
}

.signup-container form{
    display: flex;
    flex-direction: column;
}

.signup-container label{
    margin-top: 1em;
}

.signup-container button{
    margin-top: 1em;
    border-radius: 20px;
    color: #f2f2f2;
    background-image: linear-gradient(to right, rgb(189, 7, 7),rgb(224, 7, 7));
    border-color: rgb(189, 7, 7);
    height: 30px;

}